.role {text-transform: uppercase; font-size: 75%}
.role-user_super_admin {color: red; font-weight:bold;}
.role-user_admin {color: blue; font-weight:bold;}
.role-user_user {}

.color-swatch {
    background: transparent;
    border: 2px dotted;
    border-radius: 4px;
    color: {{ colors.gray_light }};
    padding: 4px 8px;
}

.navbar-custom-menu .user-menu {
	padding: 0; padding-right: 12px;
}

.navbar-custom-menu .user-menu A {
	color: white; text-shadow: 0 0 1px #999;
}

.navbar-custom-menu .user-menu A:hover {
	color: #666; text-shadow: 0 0 0;
}

.sol-selection-container {z-index: 5 !important;}