<div id="footBar" class="row">
    <div class="col-sm-7"></div>
    <div id="about" class="col-sm-1"><a href="about">{{ 'site_about'|trans }}</a></div>
    <div id="contact" class="col-sm-1"><a href="contact">{{ 'site_contact'|trans }}</a></div>
    <div id="facebook" class="col-sm-1"><a href="https://facebook.com/">Facebook</a></div>
    <div id="twitter" class="col-sm-1"><a href="https://twitter.com/">Twitter</a></div>
    <div id="rss" class="col-sm-1"><a href="feed.rss">RSS</a></div>
</div>
