<!DOCTYPE html>

<html lang="PL">
  <head>
    <meta charset="utf-8" />
    <!-- Change for better search engine indexing -->
    <title>{{page.title}}</title>
    <meta name="title" content="{{page.metaTitle}}" />
    <meta name="description" content="{{page.metaDesc}}" />
    <meta name="keywords" content="{{page.metaKeywords}}" />
    <meta name="robots" content="All" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Unica+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    {% block stylesheets %}{% endblock %}
    <link id="theme" rel="stylesheet" type="text/css" href="/css/styles.css" title="theme" />
    <link rel="icon" type="image/x-icon" href="favicon.png" />

<!--
    <script type="text/javascript" language="javascript" src="/js/scripts.js"></script>
	<script type="text/javascript" language="javascript" src="/js/theme.js"></script>
	<script type="text/javascript" language="javascript" src="/js/custom.js"></script> -->
    <!-- Add your custom script here -->
  </head>
  <body>
  	<header>
        {% block topbar %} {% include "default/parts/topbar.html.twig" %} {% endblock %}
  	</header>
    <main>
    {% block content %} {% endblock %}
    </main>
  	<footer>
  		{% block footer %} {% include "default/parts/footer.html.twig" %} {% endblock %}
  	</footer>

    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="/js/jquery-2.1.4.min.js"><\/script>')</script>
    <script src="/js/bootstrap.min.js"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>
