{% set entity = app.request.attributes.get('easyadmin').entity.name %}
    {% set srv = app.request.server %}
    <a href="{{ srv.get('PHP_SELF') }}?action=show&entity={{ entity }}&id={{ item.id }}">
{{ value|easyadmin_truncate }}
    </a>