.role {text-transform: uppercase; font-size: 75%}
.role-user_superadmin {color: red; font-weight:bold;}
.role-user_admin {color: blue; font-weight:bold;}
.role-user_user {}

.color-swatch {
    background: transparent;
    border: 2px dotted;
    border-radius: 4px;
    color: {{ colors.gray_light }};
    padding: 4px 8px;
}